.App {
  text-align: center;
  background-color: blanchedalmond;
}

.container{
  margin: 50px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;  
}
.signup-page{
  margin: 10px;
  padding: 2px;
  /* border: 2px solid rgb(34, 124, 243); */
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;   
}

.signin-page{
  margin: 10px;
  padding: 2px;
  /* border: 2px solid rgb(34, 124, 243); */
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
